html,body{
	box-sizing: border-box;
	margin:0;
	width: 100%;
	height: 100%;
	cursor: hidden;
	color: white;
  }

  body{
	padding: 10px;
	background: url("assets/background.png");
	background-position: center;
	background-size: cover;
  }


.main{
	background-color: rgba(0,0,0,0.26);
}