html,body{
	box-sizing: border-box;
	margin:0;
	width: 100%;
	height: 100%;
	cursor: hidden;
  }

  body{
	padding: 10px;
	background: url("https://media.discordapp.net/attachments/1126420357625159681/1153224673354579978/dhuaun.png");
	background-color: chartreuse;
	background-size: 286px;
	background-position: center;
  }